<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Echo Index</title>
        <meta name="description" content="An index of reusable CSS components and design patterns for Echo & Co.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:800,600,500,400|Neuton:400,800,700' rel='stylesheet' type='text/css'>


        <!-- Plugin CSS -->
        <link rel="stylesheet" href="css/plugins.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.min.css">

        <!-- Takana, for in-browser styling -->
        <script type="text/javascript" src="http://localhost:48626/takana.js"></script>
        <script type="text/javascript">
          takanaClient.run({host: 'localhost:48626'});
        </script>

        <script src="js/modernizr.js"></script>

    </head>

    <body>

        <!--[if lte IE 9]>
        <div class="BrowseHappy">
            <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
        <![endif]-->


        <div class="SiteWrapper">

            <header class="SiteHeader" role="banner">
                <h1>Echo <span>Index</span></h1>

                <div class="TableOfContents">
                    <div class="TableOfContents__label">UI Elements</div>
                    <ul>
                        {% for element in elements %}
                            <li><a href="#{{element.title}}">{{element.title}}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="TableOfContents__label">CSS Utilities</div>
                    <ul>
                        {% for utility in utilities %}
                            <li><a href="#{{utility.title}}">{{utility.title}}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="TableOfContents__label">CSS Components</div>
                    <ul>
                        {% for component in components %}
                            <li><a href="#{{component.title}}">{{component.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </header>

            <main class="SiteMain" role="main">

                    <div class="Frame">
                        <div class="u-constrained">
                            <div class="Frame__inside">
                                <h1>Hey! Listen!</h1>
                                <p>I've decided to put this project on hold for the time being.</p>
                                <p>Contact me (bill) if you're looking for something specific.</p>
                            </div>
                        </div><!-- /.Frame__insdie -->
                    </div><!-- /.Frame -->

                    <ul class="ComponentList">
                        {% for component in utilities %}
                            <li id="{{ component.title }}">
                                <div class="Frame Frame--borderTop">
                                    <div class="u-constrained">
                                        <div class="Frame__inside">
                                            {% include '../partials/Component.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <ul class="ComponentList">
                        {% for component in components %}
                            <li id="{{ component.title }}">
                                <div class="Frame Frame--borderTop">
                                    <div class="u-constrained">
                                        <div class="Frame__inside">
                                            {% include '../partials/Component.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <ul class="ComponentList">
                        {% for component in elements %}
                            <li id="{{ component.title }}">
                                <div class="Frame Frame--borderTop">
                                    <div class="u-constrained">
                                        <div class="Frame__inside">
                                            {% include '../partials/Component.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

            </main><!--/.main-->

            <footer class="SiteFooter" role="contentinfo">
                <div class="u-constrained">
                </div>
            </footer>

        </div><!-- .SiteWrapper -->


        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Minified and Concatenated Vendor and Custom Scripts -->
        <script src="js/plugins.min.js"></script>

    </body>
</html>